<div fxLayout="row" class="demo-container">
    <div fxFlex="25%" class="row"><!-- LEFT --></div>
    <div fxFlex="50%" fxLayout="column" class="row">

        <header>
            Basic TagBox
        </header>
        <section fxLayout="row">
            <div fxFlex="48%" class="column">
                
                <!--
                ALPHA
                -->
                <dx-tag-box
                    [dataSource]="data"
                    valueExpr="ID"
                    displayExpr="Name"
                    [searchEnabled]="true">
                </dx-tag-box>
                <!--
                [end] ALPHA
                -->
            </div>
            
            <mat-divider [vertical]="true"></mat-divider>

            <div fxFlex="48%" class="column"><!-- RIGHT COLUMN --></div>

        </section>
        <footer>
            "DevExtreme + Angular Material" project | Elwood Berry, Senior Frontend Developer @ eberry@viewgol.com
        </footer>

    </div>
    <div fxFlex="25%" class="row"><!-- RIGHT --></div>
</div>